/******** Global ********/
/*
* Fonts
*/
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(./fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-thin';
    src: url(./fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'Raleway-light';
    src: url(./fonts/Raleway/Raleway-Light.ttf);
}

@font-face {
    font-family: 'Raleway-thin';
    src: url(./fonts/Raleway/Raleway-Thin.ttf);
}

@font-face {
    font-family: 'Sofia';
    src: url(./fonts/Sofia/Sofia-Regular.ttf);
}


/*
* Standars
*/
html,
body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: var(--raleway-light);
}

:root {
    --pink-pale: #ffd6c0;
    --salmon-pink: #ffa5a5;
    --pink: #ec368d;
    --blue: #51e5ff;
    --indigo: #241859;
    --bg-color: #f1f1f1;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #fff 0%, #f1f1f1 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);


    /******* Font Family *******/
    --montserrat-bold: 'Montserrat-Bold', sans-serif;
    --montserrat-thin: 'Montserrat-thin', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --raleway-light: 'Raleway-light', sans-serif;
    --raleway-thin: 'Raleway-thin', sans-serif;
    --sofia: 'Sofia', sans-serif;
}


/* 
* Buttons Standars 
*/
button:focus,
button:active button:hover .btn:active,
.btn.active {
    outline: 0px !important;
    box-shadow: none !important;
}

.button {
    padding: .8rem 2.2rem;
    font: normal 16px/20px var(--raleway);
    position: relative;
    border: 1px solid var(--salmon-pink);
    border-radius: 4px;
}

.button.primary-button {
    background: #fff;
    background-clip: padding-box;
    color: var(--pink);
    box-shadow: 3px 3px 5px var(--salmon-pink);
}

.button.primary-button:hover {
    background: var(--pink-pale);
    background-clip: padding-box;
    transition: background .6s ease;
}


/* 
* Main Title
*/
.main-title {
    font: normal 50px/60px var(--montserrat-bold);
    color: var(--blue);
    text-shadow: 4px 3px 3px var(--pink);
    letter-spacing: .8rem;
}


/* 
* Navegation Fixed 
*/
.navbar-fixed,
.navbar-white {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 2s ease;
}

.header-section .navbar-fixed .nav-item>a.nav-link,
.navbar-fixed .dropdown-menu .dropdown-item,
.header-section .navbar-white .nav-item>a.nav-link,
.navbar-white .dropdown-menu .dropdown-item {
    color: var(--pink);
}

.navbar-fixed .dropdown-menu,
.navbar-white .dropdown-menu {
    background: var(--bg-color)!important;
}

.offset:before {
    display: block;
    content: '';
    height: 4rem;
    margin-top: 4rem;
}

b.bold {
    font-family: var(--raleway);
}
/******** End Global ********/


/* 
* Header Section 
*/
.bg-cover {
    background: #fff;
}

.bg-nav {
    background: var(--bg-color);
}

.header-section .main-menu .navbar {
    box-shadow: var(--box-shadow);
}

.header-section .main-menu .navbar .navbar-brand {
    font-size: 3rem;
    color: var(--pink);
    font-family: var(--sofia);
}

.header-section .main-menu .nav-item .nav-link,
.dropdown-menu .dropdown-item {
    text-transform: uppercase;
    padding: .6rem;
    color: var(--pink);
    padding-bottom: 0;
}

.header-section .main-menu .nav-item .nav-link {
    padding: 20px 0;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
}

.header-section .main-menu .dropdown-menu {
    background: var(--bg-color);
}

.header-section .main-menu .nav-item .nav-link:hover {
    opacity: 1;
}

.header-section .main-menu .nav-item .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #fff;
}

.header-section .main-menu .nav-item .nav-link-ltr::before {
    width: 0%;
    bottom: 5px;
}

.header-section .main-menu .nav-item .nav-link-ltr:hover::before {
    width: 100%;
}

.header-section .main-menu .dropdown-menu a:hover {
    background: #fff;
}
/* End Header Section */


/*
* Banner Section
*/
.site-main .banner-section {
    padding: 2rem 0 2rem 0;
}

.site-main .banner-section .site-title h1 {
    margin: 11rem 0 0;
    font-size: 4rem;
    font-family: var(--sofia);
    color: var(--indigo);
}

.site-main .banner-section .site-title h2 {
    font: normal 49px/60px var(--montserrat-thin);
    color: var(--indigo);
    letter-spacing: 1rem;
}

.site-main .banner-section img {
   width: 60%;
   margin-top: 2rem;
}
/* End Banner Section */


/*
* About Section
*/
.about-section {
    padding: 8rem 0 8rem;
}

.about-section .main-title h2>span {
    display: block;
}

.about-section .paragraph>p {
    padding: .4rem 0;
    color: var(--text-color);
}
/* End About Section */


/*
* Project Section
*/
.project-section {
    padding: 4rem 0 0;
}

.project-section .button-group button {
    background: transparent;
    border: none;
    color: var(--title-color);
    font: normal bolder 16px/110px var(--raleway);
}

.project-section .button-group button:hover {
    color: var(--text-color);
}

.project-section .button-group button+button {
    padding-left: 2rem;
}

.project-section .hovereffect img {
    box-shadow: var(--box-shadow);
}

/* Image Hover Effect from https://miketricking.github.io/bootstrap-image-hover/*/
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    cursor: pointer;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
}

.hovereffect:hover img {
    filter: brightness(.8);
}
/* End Project Section */


/*
* Skills Section
*/
.skill-section {
    padding: 4rem 0 0;
    margin-bottom: 4rem;
}

.skill-section .first-row .col-lg-4 {
    display: flex;
    justify-content: center;
}


.skill-section .first-row .col-lg-4>.single-skill {
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 1rem;
    margin: .9rem 0;
    width: 150px;
    height: 120px;
    transition: transform .4s ease;
}

.skill-section .first-row .col-lg-4>.single-skill>i {
    color: var(--salmon-pink);
}

.skill-section .experience-section {
    padding-left: 1rem;
}

.skill-section .experience-section span {
    display: block;
}

.skill-section .experience-section .years-section .years {
    font: normal 84px/40px var(--montserrat-bold);
    color: #fff;
    text-shadow: 3px 3px 3px var(--pink);
    z-index: 2;
}

.skill-section .experience-section .years-section h2>span {
    font: normal bold 25px/30px var(--raleway);
    color: var(--indigo);
}

.skill-section .experience-section .call-section p.para {
    color: var(--text-color);
    margin: 0 2rem;
}

.skill-section .experience-section .call-section {
    padding-left: 8rem;
}

.skill-section .experience-section .years-section {
    background: url(./img/bg-03.png) no-repeat 45px 10px;
    padding: 2rem 0;
    width: 30rem;
    height: 12rem;
    padding-left: 8rem;
    position: relative;
}

.skill-section .experience-section .bg-panel {
    position: absolute;
    left: -190px;
    top: 0%;
    background: var(--bg-color);
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}
/* End Skills Section */


/*
* Certification Section
*/
.certification-section {
    padding: 4rem 0 0;
}

.certification-section .certificate-image {
    padding: 4rem 0 0;
    text-align: center;
}

.certification-section .certificate-image>img {
    box-shadow: var(--box-shadow);
}

.certification-section .scale:hover {
    transform: scale(1.3);
    padding-bottom: 3%;
}

.certification-section .certificate-image>.title h4 {  
    font-size: 24px;
    line-height: 12px;
}

.certification-section .certificate-image>.title span {
    font-size: 22px;
}

.certification-section .certificate-image>.title span a {
    text-decoration: none;
}
/* End Certification Section */


/*
* Contact Section
*/
.contact-section {
    padding: 3rem 0 0 0;
}

.contact-section .message {
    background: var(--bg-color);
    padding: 5rem 0 5rem;
}

.contact-section .message .contact-title h4 {
    font: normal 45px/30px var(--raleway);
    color: #fff;
    text-shadow: 3px 3px 1px var(--blue);
    padding-bottom: 2rem;
}

.contact-section .message .contact-title span {
    display: block;
    font: normal 25px/8px var(--raleway-thin);
    color: var(--text-color);
    padding-top: 2rem;
}

.contact-section .email {
    padding: 3rem 0;
    line-height: 3rem;
}

.contact-section .email i {
    color: var(--text-color);
    font-size: 1.2rem;
}

.contact-section .email span {
    font-family: var(--raleway-thin);
    color: var(--text-color);
    font-size: 25px;
}

.contact-section .social h5 {
    font-size: 1.5rem;
    color: var(--text-color);
    font-family: var(--raleway-thin);
}

.contact-section .social a>i {
    padding: .3rem;
    color: var(--text-color);
}

.contact-section .social a:hover>i {
    color: #fff;
}
/* End Contact Section */


/*
* Footer Section
*/
footer.footer-section {
    padding: 4rem 0 0;
}

footer.footer-section .footer-brand {
    font-size: 3rem;
    color: var(--pink);
    font-family: var(--sofia);
    text-decoration: none;
}


footer.footer-section .social a>i {
    padding: .3rem;
    color: var(--border-color);
}

footer.footer-section .social a:hover>i {
    color: var(--salmon-pink);
}

footer .para {
    margin-bottom: 0;
    color: var(--text-color);
}

.footer-section .square-hex1,
.square-hex2,
.square-hex3,
.square-hex4,
.square-hex5 {
    color: #fff;
    text-transform: uppercase;
    font-family: var(--raleway);
}

.footer-section .square-hex1 {
    background: var(--pink-pale);
}

.footer-section .square-hex2 {
    background: var(--salmon-pink);
}

.footer-section .square-hex3 {
    background: var(--pink);
}

.footer-section .square-hex4 {
    background: var(--blue);
}

.footer-section .square-hex5 {
    background: var(--indigo);
}

/* End Footer Section */

/*
* Modal
*/
#project5 img:hover {
    transform: scale(1.1);
}


/*
* Design.html Page
*/
section.evolution {
    padding: 5rem;
}

section.evolution .design-img {
    height: 600px;
    width: 100%;
    overflow: auto;
    box-shadow: var(--box-shadow);
}

section.evolution a {
    text-decoration: none;
}
